<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MXTourism.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>A0D82D8CA5197E3544F4A3D2EB402F4E6314C766</string>
				<key>dateExpires</key>
				<string>2021/4/17</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>42V83NCYF8.com.moxiFootball</string>
				<key>com.apple.developer.team-identifier</key>
				<string>42V83NCYF8</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>42V83NCYF8.com.moxiFootball</string>
				</array>
			</dict>
			<key>name</key>
			<string>MXTourism.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>4d19b5b5-4096-44d2-b52d-091e06b2f9ab</string>
				<key>name</key>
				<string>football</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>42V83NCYF8</string>
				<key>name</key>
				<string>Beehive Studios Inc</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
